<div class="ui items">
  <div class="item">
    <div class="ui small image">
      <img src="/assets/gas.png" alt="Gas Automobile" *ngIf="automobile.type === 'Gas'">
      <img src="/assets/diesel.png" alt="Diesel Automobile" *ngIf="automobile.type === 'Diesel'">
      <img src="/assets/electric.png" alt="Electric Automobile" *ngIf="automobile.type === 'Electric'">
    </div>
    <div class="content">
      <div class="header">Automobile {{automobile.id}} </div>
      <div class="meta">
        <span class="engine-type">{{automobile.type}} Engine</span>
      </div>
      <div class="description">
        <div class="ui segments">
          <div class="ui segment">
            <h5>Description</h5>
          </div>
          <div class="ui segment">
            <div class="ui three stackable cards">
              <div class="raised card">
                <div class="content">
                  <div class="ui divided list">
                    <div class="item">
                      <div class="ui horizontal label">
                        Make: 
                      </div>
                      {{automobile.make}}
                    </div>
                    <div class="item">
                      <div class="ui horizontal label">
                        Model: 
                      </div>
                      {{automobile.model}}
                    </div>
                    <div class="item">
                      <div class="ui horizontal label">
                        Year: 
                      </div>
                      {{automobile.year}}
                    </div>
                    <div class="item">
                      <div class="ui horizontal label">
                        Odomoter: 
                      </div>
                      {{automobile.odometer}}
                    </div>
                  </div>
                  <div class="extra">
                    <button (click)="showMilesModal()" class="ui primary button">
                      Log miles
                    </button>
                    <button (click)="showMaintenanceModal()" class="ui secondary button">
                      Change Maintenance Schedule
                    </button>
                  </div>
                </div>
              </div>
              <div class="raised card">
                <div class="content">
                  <div class="ui divided list">
                    <a class="item">
                      <div class="content">
                        <div class="header">
                          <div class="ui horizontal small label">
                            {{ automobile.engineMaintenanceAction }} is needed: 
                          </div>
                          <span *ngIf="automobile.needsEngineMaintenance">yes</span>
                          <span *ngIf="!automobile.needsEngineMaintenance">no</span>
                        </div>
                        <div class="ui fitted hidden divider"></div>
                        <div class="ui horizontal small label">
                          Miles until {{ automobile.engineMaintenanceAction }}:
                        </div>
                          {{ automobile.milesUntilEngineMaintenance }}
                      </div> 
                    </a>
                    <a class="item">
                      <div class="content">
                        <div class="header">
                          <div class="ui horizontal small label">
                            Needs Tires Rotated: 
                          </div>
                          <span *ngIf="automobile.needsTireRotation">yes</span>
                          <span *ngIf="!automobile.needsTireRotation">no</span>
                        </div>
                        <div class="ui fitted hidden divider"></div>
                        <div class="ui horizontal small label">
                          Miles until Tire Rotation:
                        </div>
                          {{ automobile.milesUntilTireRotation }}
                      </div>
                    </a>
                    <a class="item">
                      <div class="content">
                        <div class="header">
                          <div class="ui horizontal small label">
                            Needs Tires Replaced: 
                          </div>
                          <span class="ui info" *ngIf="automobile.needsTireReplacement">yes</span>
                          <span class="ui info" *ngIf="!automobile.needsTireReplacement">no</span>
                        </div>
                        <div class="ui fitted hidden divider"></div>
                        <div class="ui horizontal small label">
                          Miles until Tire Replacement:
                        </div>
                          {{ automobile.milesUntilTireReplacement }}
                      </div>
                    </a>
                    <a class="item">
                      <div class="content">
                        <div class="header">
                          <div class="ui horizontal small label">
                            Needs Brakes Replaced: 
                          </div>
                          <span *ngIf="automobile.needsBrakeReplacement">yes</span>
                          <span *ngIf="!automobile.needsBrakeReplacement">no</span>
                        </div>
                        <div class="ui fitted hidden divider"></div>
                        <div class="ui horizontal small label">
                          Miles until Brake Replacement:
                        </div>
                          {{ automobile.milesUntilBrakeReplacement }}
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="raised card">
                <div class="content">
                  <button (click)="maintainEngine()" class="ui blue button">{{automobile.engineMaintenanceAction}}</button>
                  <div class="ui hidden divider"></div>
                  <button (click)="rotateTires()" class="ui blue button">Rotate Tires</button>
                  <div class="ui hidden divider"></div>
                  <button (click)="replaceTires()" class="ui blue button">Replace Tires</button>
                  <div class="ui hidden divider"></div>
                  <button (click)="replaceBrakes()" class="ui blue button">Replace Brakes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-log-miles-form [show]="showLogMiles" [automobileId]="automobile.id" (onMilesClose)="onMilesClose($event)" (onMilesLogged)="onMilesLogged($event)"></app-log-miles-form>
<app-change-maintenance-schedule-form 
  [show]="showChangeMaintenance"
  [automobileId]="automobile.id"
  [maintenanceAction]="automobile.engineMaintenanceAction"
  (onMaintenanceClose)="onMaintenanceClose($event)">
</app-change-maintenance-schedule-form>