<!--The whole content below can be removed with the new code.-->
<app-nav-bar></app-nav-bar>
<div class="ui container">
  <div class="ui section hidden divider"></div>
  <app-automobile-management></app-automobile-management>
</div>

