<div class="ui message" *ngIf="message !== ''">
  <p>{{ message }}</p>
</div>
<div class="ui list">
  <div class="item" *ngFor="let auto of automobiles">
    <div class="ui segments">
      <div class="ui segment">
        <div class="ui grey right ribbon label">
          <button class="ui red labeled warning icon button" (click)="deleteAutomobile(auto.id)">
            <i class="warning sign icon"></i>
            Delete automobile
          </button>
        </div>
        <app-automobile [automobile]="auto"></app-automobile>
      </div>
    </div>
    <div class="ui hidden divider"></div>
  </div>
</div>
<app-add-new-vehicle-form [show]="showNew" (onNewVehicleClose)="onNewClose($event)"></app-add-new-vehicle-form>
<a (click)="showNewModal()" class="ui massive blue circular compact label animated bottom-left-fixed" tabindex="0">
    <div class="visible content">+</div>
    <div class="hidden content">New Vehicle</div>
</a>