<div class="ui menu">
  <div class="ui container">
    <a href="#" class="header item">
      Home
    </a>
    <div class="header item borderless">
      <h1 class="ui header">
        {{ title }}
      </h1>
    </div>
  </div>
</div>