<div *ngIf="show" class="formModal">
  <div class="ui one column centered grid">
    <div class="column">
      <div class="ui message">
        <i (click)="close()" class="close icon"></i>
        <div class="header">
          Log Miles for Automobile {{ automobileId }}
        </div>
        <div class="ui hidden divider"></div>
        <form [formGroup]="milesForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="ui form error">
            <div class="inline field">
              <div class="ui blue label">Miles Driven:</div>
              <input type="number" formControlName="miles"> 
            </div>
            <div *ngIf="formErrors.miles" class="ui error message">
              {{ formErrors.miles }}
            </div>
          </div>
          <div class="ui hidden divider"></div>
          <div class="item">
            <button type="submit" [disabled]="milesForm.pristine || !milesForm.valid" class="ui primary button">Save</button>
            <button (click)="close()" class="ui red button">Cancel</button>
          </div>
        </form>
        <div class="ui hidden divider"></div>
      </div>
    </div>
  </div>
</div>
