<div *ngIf="show" class="formModal">
  <div class="ui one column centered grid">
    <div class="column">
      <div class="ui message">
        <i (click)="close()" class="close icon"></i>
        <div class="header">
          Add New Vehicle
        </div>
        <div class="ui hidden divider"></div>
        <form [formGroup]="newVehicleForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="ui form error">
            <div class="inline field">
              <div class="ui blue label">Make:</div>
              <input type="text" formControlName="make"> 
            </div>
            <div *ngIf="formErrors.make" class="ui error message">
              {{ formErrors.make }}
            </div>
          </div>
          <div class="ui form error">
            <div class="inline field">
              <div class="ui blue label">Model:</div>
              <input type="text" formControlName="model"> 
            </div>
            <div *ngIf="formErrors.model" class="ui error message">
              {{ formErrors.model }}
            </div>
          </div>
          <div class="ui form error">
            <div class="inline field">
              <div class="ui blue label">Year:</div>
              <input type="number" formControlName="year"> 
            </div>
            <div *ngIf="formErrors.year" class="ui error message">
              {{ formErrors.year }}
            </div>
          </div>
          <div class="ui form error">
            <div class="inline field">
              <div class="ui blue label">Odometer:</div>
              <input type="number" formControlName="odometer"> 
            </div>
            <div *ngIf="formErrors.odometer" class="ui error message">
              {{ formErrors.odometer }}
            </div>
          </div>
          <div class="ui form error">
            <div class="inline field">
              <div class="ui blue label">ID:</div>
              <input type="number" formControlName="id"> 
            </div>
            <div *ngIf="formErrors.id" class="ui error message">
              {{ formErrors.id }}
            </div>
          </div>
          <div class="ui form error">
            <h5>Vehicle Type:</h5>
            <div class="inline field">
              <div class="ui blue label">Gas</div>
              <input type="radio" formControlName="type" value="gas"> 
            </div>
            <div class="inline field">
              <div class="ui blue label">Electric</div>
              <input type="radio" formControlName="type" value="electric"> 
            </div>
            <div class="inline field">
              <div class="ui blue label">Diesel</div>
              <input type="radio" formControlName="type" value="diesel"> 
            </div>
          </div>
          <div class="ui hidden divider"></div>
          <div class="item">
            <button type="submit" [disabled]="newVehicleForm.pristine || !newVehicleForm.valid" class="ui primary button">Save</button>
            <button (click)="close()" class="ui red button">Cancel</button>
          </div>
        </form>
        <div class="ui hidden divider"></div>
      </div>
    </div>
  </div>
</div>