<div *ngIf="show" class="formModal">
  <div class="ui one column centered grid">
    <div class="column">
      <div class="ui message">
        <i (click)="close()" class="close icon"></i>
        <div class="header">
          Change Maintenance Schedule for Automobile {{ automobileId }}
        </div>
        <div class="ui hidden divider"></div>
        <form [formGroup]="maintenanceForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="ui form error">
            <div class="inline field">
              <div class="ui blue label">Miles Between {{maintenanceAction}}:</div>
              <input type="number" formControlName="milesBetweenEngineMaintenance"> 
            </div>
            <div *ngIf="formErrors.milesBetweenEngineMaintenance" class="ui error message">
              {{ formErrors.milesBetweenEngineMaintenance }}
            </div>
          </div>
          <div class="ui form error">
            <div class="inline field">
              <div class="ui blue label">Miles Between Tire Rotation:</div>
              <input type="number" formControlName="milesBetweenTireRotation"> 
            </div>
            <div *ngIf="formErrors.milesBetweenTireRotation" class="ui error message">
              {{ formErrors.milesBetweenTireRotation }}
            </div>
          </div>
          <div class="ui form error">
            <div class="inline field">
              <div class="ui blue label">Miles Between Tire Replacement:</div>
              <input type="number" formControlName="milesBetweenTireReplacement"> 
            </div>
            <div *ngIf="formErrors.milesBetweenTireReplacement" class="ui error message">
              {{ formErrors.milesBetweenTireReplacement }}
            </div>
          </div>
          <div class="ui form error">
            <div class="inline field">
              <div class="ui blue label">Miles Between Brake Replacement:</div>
              <input type="number" formControlName="milesBetweenBrakeReplacement"> 
            </div>
            <div *ngIf="formErrors.milesBetweenBrakeReplacement" class="ui error message">
              {{ formErrors.milesBetweenBrakeReplacement }}
            </div>
          </div>
          <div class="ui hidden divider"></div>
          <div class="item">
            <button type="submit" [disabled]="maintenanceForm.pristine || !maintenanceForm.valid" class="ui primary button">Save</button>
            <button (click)="close()" class="ui red button">Cancel</button>
          </div>
        </form>
        <div class="ui hidden divider"></div>
      </div>
    </div>
  </div>
</div>