/* You can add global styles to this file, and also import other style files */
@import './app/vendor/semantic.min.css';

.bottom-left-fixed {
    position: fixed;
    bottom: 12%;
    left: 5%;
}

a.label.animated.circular {
    overflow: hidden;
    width: 2.5em;
    transition: width 0.8s ease;
}

a.label.animated .visible{
    height: auto;
    visibility: visible;
    opacity: 1;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    line-height: 1.5em;
    transition: height 0.2s ease,
                opacity 0.6s ease,
                visibility 0.2s ease;
}

a.label.animated .hidden{
    visibility: hidden;
    height: 0;
    opacity: 0;
    width: 1.5em;
    transition: height 0.2s ease,
                width 0.2s ease,
                visibility 0.2s ease;
}

a.label.animated:hover .visible {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: height 0.8s ease,
                opacity 0.8s ease,
                visibility 0.8s ease;
}

a.label.animated:hover .hidden {
    height: auto;
    visibility: visible;
    opacity: 1;
    width: auto;
    height: 1.5em;
    border-radius: 50%;
    line-height: 1.5em;
    transition: height 0.8s ease,
                opacity 0.8s ease;
}

a.label.animated.circular:hover {
    overflow: hidden;
    width: auto;
    transition: width 0.2s ease;
}

.formModal {
    position: fixed !important;
    margin: auto;
    top: 10rem;
    width: 25rem;
    right: 0;
    left: 0;
    z-index: 1000;       
}